.btn {
  background-color: transparent;
  color: var(--btn_text);
  width: 215px;
  height: 55px;
  border: 2px solid var(--btn_border);
  outline: none;
  font-size: 18px;
  margin: 20px 0;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: var(--btn_background);
  border-color: var(--btn_background);
  transition-duration: 0.4s;
}
